<div class="premium-table-container">
  <div class="table-responsive">
    <table class="table premium-table align-middle">
      <ng-content select="thead"></ng-content>

      @if (data().length > 0) {
          <ng-content select="tbody"></ng-content>
      } @else {
        <tbody>
          <tr>
            <td colspan="100%" class="empty-state">No data available</td>
          </tr>
        </tbody>
      }
    </table>
  </div>

  <!-- PAGINATION -->
  @if (pagination() && totalPages() > 1) {
    <nav aria-label="Table pagination">
      <ul class="pagination justify-content-center my-4">
        <li class="page-item" [class.disabled]="currentPage() === 0">
          <button class="page-link" (click)="prevPage()">
            <i class="fa-solid fa-angles-left"></i>
          </button>
        </li>

        @for (i of pageNumbers(); track i) {
          <li class="page-item" [class.active]="i === currentPage()">
            <button class="page-link" (click)="goToPage(i)">
              {{ i + 1 }}
            </button>
          </li>
        }

        <li
          class="page-item"
          [class.disabled]="currentPage() === totalPages() - 1"
        >
          <button class="page-link" (click)="nextPage()">
            <i class="fa-solid fa-angles-right"></i>
          </button>
        </li>
      </ul>
    </nav>
  }
</div>
