<div class="container-cm">
  <a href="#" class="view-all-cont">
    <span>View All</span>
    <app-svg-icon icon="arrowRight"></app-svg-icon>
  </a>

  <!-- Products Listing -->
  <div class="products-listing">
      <!-- <h2 class="small-title">
        {{ getCategoryDisplayName("hangers") | titlecase }}
      </h2> -->
      <app-ad-slider [ads]="getCoursesByCategory('hangers')" category="hangers"/>
  </div>

  <!-- Pagination -->
  @if (totalPages > 1) {
    <nav aria-label="Course pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button
            class="page-link"
            (click)="prevPage()"
            [attr.disabled]="currentPage === 1 ? true : null"
            aria-label="Previous page"
          >
            &lt;
          </button>
        </li>

        @for (page of getPageNumbers(); track page) {
          <li class="page-item" [class.active]="currentPage === page">
            <button
              class="page-link"
              (click)="goToPage(page)"
              [attr.aria-current]="currentPage === page ? 'page' : null"
              [attr.aria-label]="'Page ' + page"
            >
              {{ page }}
            </button>
          </li>
        }

        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button
            class="page-link"
            (click)="nextPage()"
            [attr.disabled]="currentPage === totalPages ? true : null"
            aria-label="Next page"
          >
            &gt;
          </button>
        </li>
      </ul>
    </nav>
  }
</div>
