.price-range {
  max-width: 420px;
  margin: auto;
  padding: 16px 18px;

  border-radius: 18px;
  backdrop-filter: blur(14px);
  background: rgba(255,255,255,.05);
  border: 1px solid rgba(255,255,255,.14);
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
  color: rgba(255,255,255,.7);
}

.sliders {
  position: relative;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  background: transparent;
  position: absolute;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  pointer-events: auto;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFB700;
  border: 2px solid #fff;

  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: rgba(255,255,255,.2);
  border-radius: 999px;
}
