<div #root class="testimonial-layout">
  <div class="limiter">
    <div #wrapper class="testimonial-wrapper">
      @for (ad of ads(); track trackByAdId($index, ad)) {
        <div class="slide-wrapper">
          <app-each-ad [ad]="ad" [category]="category()" />
        </div>
      }
    </div>
  </div>

  <div class="controls">
    <button 
      type="button"
      (click)="move(-1)"
      class="prev-btn-testimonial"
      [attr.disabled]="!canGoPrev() ? true : null"
      [class.disabled]="!canGoPrev()"
      aria-label="Previous slide"
    >
      <i class="fa-solid fa-angle-left"></i>
    </button>
    
    <button 
      type="button"
      (click)="move(1)"
      class="next-btn-testimonial"
      [attr.disabled]="!canGoNext() ? true : null"
      [class.disabled]="!canGoNext()"
      aria-label="Next slide"
    >
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>

  <!-- Optional: Dots indicator -->
  @if (maxIndex() > 0) {
    <div class="dots-indicator">
      @for (dot of [].constructor(maxIndex() + 1); track $index) {
        <button
          type="button"
          (click)="goToIndex($index)"
          class="dot"
          [class.active]="currentIndex() === $index"
          [attr.aria-label]="'Go to slide ' + ($index + 1)"
        ></button>
      }
    </div>
  }
</div>