@use "../../mixins.scss" as mixin;
@use "../../variables" as *;
@use "sass:color";

.search-filter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 28px;
}

/* SEARCH BOX */

.search-box {
  position: relative;
  max-width: 420px;
  margin: auto;

  i {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    z-index: 100;
    color: rgba(255, 255, 255, 0.4);
  }

  input {
    height: 56px;
    width: 100%;
    padding: 0 20px 0 48px;

    border-radius: 9999px;
    backdrop-filter: blur(10px);

    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgba(255, 255, 255, 0.4);

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }

    &:focus {
      outline: none;
      // border-color: #25D366;
      border-color: #ffb700;
      background: rgba(255, 255, 255, 0.08);
    }
  }
}

/* CATEGORY CHIPS */

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.chip {
  padding: 8px 16px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;

  transition: 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  &.active {
    // background: #25D366;
    background: #ffb700;
    // border-color: #25D366;
    border-color: #ffb700;
    color: $primary;
    font-weight: 700;
  }
}
