@use "../../mixins.scss" as mixin;
@use "../../variables" as *;

section {
  background-color: #f7f7f7;
  padding: clamp(30px, 5.2vw, 75px) 0 clamp(50px, 9.1vw, 131px);

  h2.title {
    text-align: center;
    text-transform: capitalize;
    @include mixin.dynamic-text(400, clamp(30px, 2.9vw, 42px), $secondary);
  }

  .prod-tabs-cont {
    gap: 18px;
    display: flex;
    overflow-x: auto;
    padding: 7px 13px;
    overflow-y: hidden;
    width: fit-content;
    align-items: center;
    border-radius: 9999px;
    margin: 11px auto 73px;
    border: 2px solid $primary;

    .each-tab {
      cursor: pointer;
      text-decoration: none;
      @include mixin.dynamic-text(400, 18px, $secondary);

      &.active {
        height: 45px;
        color: #fff;
        padding: 6px 11px;
        border-radius: 9999px;
        background-color: $primary;
        @include mixin.centered();
      }
    }
  }
}

.back-link {
  border: 0;
  background-color: transparent;
  @include mixin.dynamic-text(600, 19px, $primary);
}
