<div class="each-product">
  <div class="img-cont">
    <img [src]="ad().image" [alt]="ad().name" [style.object-fit]="'cover'" />
    <div class="icon-cont">
      <i class="fa-solid fa-heart"></i>
    </div>
    @if (isBestSelling()) {
      <div class="c-badge">BEST SELLING</div>
    }
  </div>

  <div class="product-details">
    <div class="price-spread">
      <span class="category">{{ category() | titlecase }}</span>
      <span class="price">₦{{ ad().price }}</span>
    </div>
    <h3 class="name">{{ ad().name }}</h3>

    <div class="rating">
      <div class="stars-outer">
        @for (_ of [1, 2, 3, 4, 5]; track _) {
          <i class="fa-solid fa-star"></i>
        }

        <div class="stars-inner" [style.width.%]="starWidth()">
          @for (_ of [1, 2, 3, 4, 5]; track _) {
            <i class="fa-solid fa-star"></i>
          }
        </div>
      </div>
    </div>
    
    <div class="cta-spread">
      <div class="counter-layer">
        <button class="btn counter-btn"><i class="fa-solid fa-minus"></i></button>
        <span class="counter-text">02</span>
        <button class="btn counter-btn"><i class="fa-solid fa-plus"></i></button>
      </div>
      <button class="btn buy"><i class="fa-solid fa-cart-shopping"></i> Buy</button>
    </div>
  </div>
</div>
