@use "../../../../../styles/mixins.scss" as mixin;
@use "../../../../../styles/variables.scss" as *;
@use "sass:color";

.each-product {
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 1rem;
  transition: all 0.3s ease;
  border: 1px solid #f1f1f1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12); //changed box-shadow

    .img-cont img {
      transform: scale(1.1);
    }

    .img-cont .details-btn-wrapper {
      transform: translateY(0);
    }
  }

  .img-cont {
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;

    .icon-cont {
      top: 7%;
      right: 6%;
      width: 28px;
      height: 28px;
      color: #fff;
      border-radius: 50%;
      position: absolute;
      @include mixin.centered();
      cursor: pointer;
      border: 1px solid #fff;
      backdrop-filter: blur(2px);
      transition: scale 0.2s ease;
      background-color: #cfd4db85;
      // backdrop-filter: blur(5px) saturate(180%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition:
        transform 0.5s ease,
        opacity 0.5s ease;
    }

    .c-badge {
      top: 9%;
      left: 6%;
      padding: 3px 8px;
      position: absolute;
      border-radius: 3px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      @include mixin.dynamic-text(500, 10px, #fff);
    }

    /* Out of stock: red */
    .badge-out-of-stock {
      background-color: #e74c3c; /* bright red */
    }

    /* Preorder: orange */
    .badge-preorder {
      background-color: #f39c12; /* vibrant orange */
    }

    .details-btn-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1rem;

      background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);

      transform: translateY(100%);
      transition: transform 0.3s ease;

      .btn.details {
        border: none;
        cursor: pointer;
        background: white;
        transition: background 0.2s;
        @include mixin.dynamic-text(600, 15px, $primary, center);

        &:hover {
          background: #f3f3f3;
        }
      }
    }
  }

  .product-details {
    padding: 18px 13px;

    .price-spread {
      @include mixin.spread();

      .category {
        @include mixin.dynamic-text(400, clamp(13.5px, 1.1vw, 16px), #8d8d8d);
      }

      .price {
        @include mixin.dynamic-text(600, clamp(15.5px, 1.3vw, 18px), #0d1b39);
      }
    }

    .name {
      margin: clamp(8px, 0.9vw, 13px) 0 5px;
      @include mixin.dynamic-text(600, clamp(17.5px, 1.5vw, 21px), #0d1b39);
    }

    .rating {
      position: relative;
      display: inline-block;
      font-size: clamp(15.5px, 1.3vw, 18px); // adjust size as needed

      .stars-outer {
        color: #ccc; // gray stars (background)
        position: relative;
        display: inline-block;
      }

      .stars-inner {
        color: #f6b76f; // gold fill
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0%; // dynamically set via starWidth()
      }

      i {
        margin-right: 2px; // optional spacing between stars
      }
    }

    .cta-spread {
      margin-top: clamp(20px, 2.1vw, 30px);
      @include mixin.spread(15px, start, column);

      .counter-layer {
        gap: 12px;
        display: flex;
        padding: 5px 0;
        // max-width: 110px;
        border-radius: 6px;
        align-items: center;
        background-color: #ffe4d9;
        height: clamp(30px, 2.4vw, 34px);
        @include mixin.dynamic-text(600, 14px, #111212);

        .counter-btn {
          @include mixin.centered();
          background-color: transparent;
          width: clamp(30px, 2.7vw, 39px);
          height: clamp(30px, 2.1vw, 30px);
          transition:
            color 0.2s ease,
            background-color 0.2s ease,
            transform 0.2s ease;

          &:active {
            transform: scale(1.02);
          }

          &:hover {
            color: #fff;
            background-color: $primary;
          }
        }
      }

      .buy {
        gap: 6px;
        width: fit-content;
        border-radius: 8px;
        background-color: $primary;
        height: clamp(30px, 2.4vw, 34px);
        @include mixin.dynamic-text(500, clamp(15.5px, 1.3vw, 18px), #fff);
        transition:
          background-color 0.2s ease,
          transform 0.2s ease;

        &:active {
          transform: scale(1.02);
        }

        &:hover {
          background-color: #613b2e;
        }
      }
    }
  }
}
