@use "../../mixins.scss" as mixin;
@use "../../variables" as *;

section.testimonials {
  padding: 65px 0 125px;
  background-color: #fcf8f5;

  .title {
    text-transform: uppercase;
    @include mixin.dynamic-text(
      600,
      clamp(20px, 2.4vw, 34px),
      $primary,
      center
    );
  }

  .subtitle {
    margin: 24px auto 70px;
    text-transform: capitalize;
    @include mixin.dynamic-text(
      600,
      clamp(23px, 2.6vw, 37px),
      $secondary,
      center
    );
  }

  .cont-btns-testimonial {
    gap: 7px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 0 0 63px auto;

    .left-btn-testimonial,
    .right-btn-testimonial {
      border: 0;
      width: 29px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }
  }

  .testimonial-row {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;

    -ms-overflow-style: none; // IE/Edge
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none; // Chrome/Safari
    }

    img {
      pointer-events: none;
    }

    .each-test {
      width: 100%;
      cursor: grab;
      flex: 0 0 auto;
      line-height: 100%;
      border-radius: 5px;
      scroll-snap-align: start;
      background-color: #fff;
      max-width: clamp(250px, 33.4vw, 481px);
      box-shadow: 0px 3.53px 88.26px 0px #AFADB51A;
      padding: clamp(15px, 1.5vw, 22px) clamp(15px, 1.5vw, 21px);

      p.testimonial-description {
        opacity: 80%;
        margin: 22px 0 14px;
        max-width: clamp(250px, 37vw, 420px);
        @include mixin.dynamic-text(400, clamp(14px, 1.3vw, 18px), $secondary);
      }

      .bottom-spread {
        @include mixin.spread();

        .client-profile {
          gap: 10px;
          display: flex;
          align-items: center;

          img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            object-fit: cover;
          }

          .name {
            @include mixin.dynamic-text(500, clamp(14px, 1.3vw, 18px), #090d23);
          }
        }

        .rating {
          gap: 8px;
          display: flex;
          align-items: center;
          color: #ffb23f;
          font-size: 16px;

          span {
            font-weight: 600;
            color: #090d23;
          }
        }
      }
    }
  }
}
