// // ========================
// // 🎨 VARIABLES
// // ========================
:root {
  --font-apple: -apple-system, BlinkMacSystemFont, "SF Pro Display", system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

$primary: #d44cff;