// // ========================
// // 🎨 VARIABLES
// // ========================
:root {
  --font-apple: -apple-system, BlinkMacSystemFont, "SF Pro Display", system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

$primary: #754E3D;
$secondary: #1e1e1e;
$primary-overlay: #754e3dbd;