@use "../../mixins.scss" as mixin;
@use "../../variables" as *;

.hero {
  color: white;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  @include mixin.centered();

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* fill the hero */
    z-index: 1;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 0.5s;

      &.active {
        opacity: 1;
      }
    }
  }

  .hero-content {
    z-index: 2;
    max-width: 1000px;
    position: relative; /* above the slider */
    text-align: center;
    margin: calc(40px + 70px) auto 0;

    .hero-title-wrapper {
      border-radius: 18px;
      background-color: #ffffff21;
      padding: 23px clamp(23px, 5.2vw, 75px);

      h1.hero-title {
        text-transform: capitalize;
        @include mixin.dynamic-text(600, clamp(35px, 4.2vw, 61px), #fff);
      }
    }

    .subtitle {
      max-width: 455px;
      margin: 40px auto 36px;
      @include mixin.dynamic-text(400, 24px, #fff);
    }

    input {
      height: 56px;
      max-width: 344px;
      color: #ffffff26;
      margin: 0 auto 300px;
      border-radius: 9999px;
      backdrop-filter: blur(8px);
      background-color: transparent;
      border: 0.86px solid #ffffff99;

      &::placeholder {
        color: #ffffff26;
      }
    }
  }

  .dots {
    z-index: 2;
    width: 100%;
    height: 56px;
    bottom: 20px;
    max-width: 115px;
    text-align: center;
    position: absolute;
    @include mixin.centered();
    background: url("../../assets/images/dots_bg.png") center center / 100% 100%
      no-repeat;

    .dot {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin: 0 5px 8px;
      border-radius: 50%;
      display: inline-block;
      background: rgba(255, 255, 255, 0.5);

      &.active {
        background: white;
      }
    }
  }
}
