@use "../../../../styles/mixins.scss" as mixin;
@use "../../../../styles/variables" as *;

section {
  padding: clamp(40px, 5.2vw, 75px) 0 clamp(50px, 10.1vw, 146px);

  .title {
    max-width: 200px;
    // max-width: 267px;
    @include mixin.dynamic-text(600, clamp(30px, 2.9vw, 42px), $primary);

    @media (max-width: 576px) {
      max-width: 100%;
      text-align: center;
    }
  }

  .e-reason {
    max-width: 317px;

    @media (max-width: 576px) {
      max-width: 90%;
    }

    .sub-title {
      opacity: 90%;
      @include mixin.dynamic-text(600, clamp(19px, 1.7vw, 24px), $primary);
    }

    p {
      opacity: 80%;
      margin: 0 0 14px;
      @include mixin.dynamic-text(400, clamp(14px, 1.3vw, 18px), $secondary);
    }
  }
}
